 //CDN FONTAWESOME
 //<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 //
 //Sass:
 //https://fontawesome.com/how-to-use/on-the-web/using-with/sass


@import "partials/reset";
@import "partials/grid";
@import "partials/colors";

@import "font_awesome/fontawesome.scss";
@import "font_awesome/_icons.scss";
@import "font_awesome/solid.scss";

 @import "modules/app";

body{
  background-color: #5b605f;
}

.indexHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5B605F;

}
 .headerContainer{
   display: flex;
   justify-content: space-between;
   width: 1425px;
   height: 100px;
   background: #5B605F;
   h1{
     a{
       text-decoration: none;
       color: white;
     }
     font-family: 'Charmonman', cursive;
     display: flex;
     align-items: center;
     color: white;
     line-height: 50px;
     font-size: 45px;
     margin-left: 80px;
     span{
       color:#E58A20;
     }
   }
   ul{
     display: flex;
     align-items: center;
     list-style: none;
     font-size: 14px;
     color: white;
     font-family: 'Open Sans', sans-serif;
     text-transform: uppercase;
     a{
       text-decoration: none;
       color: white;
       transition: 0.2s;
       &:hover{
         color: #E58A20;
       }
     }

     li{
       margin-left: 70px;
       font-size: 19px;
       transition: 1s;


       &:last-child{
        margin-right: 120px;
       }
     }
   }
 }

// carousel

/* Slideshow container */
.carouselSlideshow-container {
  max-width: 1440px;
  height: 500px;
  position: relative;
  margin: auto;
  background-color: rgb(235, 235, 235);
}

/* Hide the images by default */
.carouselMySlides {
  display: none;
}

/* Next & previous buttons */
.carouselPrev, .carouselNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.carouselNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.carouselPrev:hover, .carouselNext:hover {
  background-color: rgb(255,255,255);
}

/* Caption text */
.carouselText {
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  text-align: center;
}

.carouselText>h2{
  font-size: 48px;
  line-height: 55px;
}

.carouselText>p{
  font-size: 32px;
  line-height: 36px;
  overflow-wrap: break-word;
  display: inline-block;
  width: 825px;
  font-weight: 400;
}

/* Fading animation */
.carouselFade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 // foooooooooooter
 .main_width{
  width: 1200px;
  margin: 0 auto;
}

 .main-footer {
  display: flex;
  justify-content: space-between;
  background: #5b605f;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;

}

.left-lorem {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
      text-align: left;
    }
    h2 {
      text-align: left;
      font-size: 20px;
    }
   
}

.central-lorem {
    width: 33.333%;
    line-height: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      text-align: left;
      font-size: 20px;
    }
  ul {
      padding-inline-start: 20px;
      list-style-type: disc;
  }
  }
.right-lorem {
    width: 33.333%;
}

.left-lorem div {
    width: 240px;
    text-align: center;
  
}

.left-lorem {
  line-height: 20px;
}

.right-lorem {
    line-height: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      text-align: left;
      font-size: 20px;
    }
    input {
        padding: 5px;
        margin-right: 0;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .button {
        margin-left: 0;
        background: #ff6600; 
        border: 2.5px solid #ff6600;
        box-sizing: border-box;
    }
      ul {
          width: 300px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          padding-inline-start: 0;
          margin-left: 70px;
          margin-top: 5px;

      li {
          text-decoration: none;
          font-size: 30px;
          list-style-type: none;
          margin-right: 30px;
          a {
              color: white;
          }
          a:hover {
              color: #ff6600
          }
          }
      }
  }

  .copyright {
      background: #4a4a49;
      text-align: center;
      padding: 20px;
      color: white;
      a {
          text-decoration: none;
          color: #ff6600;
      }
  }

  .main_width{
    width: 1200px;
    margin: 0 auto;
}

#footer {
  background: #5B605F;
}

// call to action

.callTo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color: white;
  line-height: 25px;
  position: relative;
  h3 {
    font-size: 25px;
  }
  p{
    font-size: 16px;
  }
  .button_news {
    margin-left: 0;
        background: #ff6600; 
        border: 2.5px solid #ff6600;
        box-sizing: border-box;
        height: 40px;
        color: white;
        width: 200px;
        position: absolute;
        left: 900px;
        bottom: 50px;
        cursor: pointer;
      
  }
}



