.main-app {
  background-image: url("../../images/background_image.png");
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}


.main-app-header {
  background: #4a4a49;
  height: 80px;
  width: 100%;
}


.main-app-header-container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}


.main-app-title {
  font-family: 'Charmonman', cursive;
  font-size: 30px;
  font-weight: 200;

  a {
    text-decoration: none;
    color: #ffffff;
  }

  span {
    color:#E58A20;
  }
}


.main-app-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  padding-right: 50px;

  .fa-user-circle {
    font-size: 30px;
    color: #E58A20;
    display: block;
    padding-left: 30px;
  }
}


.main-app-content {
  display: flex;
}


.main-app-menu {
  height: calc(100vh - 80px);
  background: #5B605F;

  li {
    align-items: center;
    height: 73px;
    display: flex;
    position: relative;

    a {
      text-decoration: none;
      color: #ffffff;
      width: 100%;
      font-size: 22px;
      font-family: "Open Sans", sans-serif;
      font-weight: 100;
      padding: 20px;
    }
  }

  li.visible {

    &:after {
      content: "";
      display: block;
      height: 70px;
      width: 5px;
      background: #E58A20;
      position: absolute;
      left: 0;
    }

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #E58A20;
      border-bottom: 2px solid #E58A20;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%) rotate(-45deg);
    }

    a {
      font-weight: 500;
    }
  }
}

.main-app-dashboard {
  margin: 30px 55px;
}

.main-app-welcome-screen {
  background: $colorBackgroundDashboard;
  border: 1px dashed $colorTablets;
  display: none;
  flex-direction: column;
  align-items: center;
  color: $colorHeader;
  padding: 50px;
  box-sizing: border-box;
  height: 100%;

  p {
    text-align: center;
    font-size: 24px;
    padding: 30px;
    line-height: 1.2;

    span {
      display: block;
      font-size: 36px;
      font-weight: 500;
    }
  }

  p:last-child {
    font-size: 20px;
  }
}



.main-app-button {
  background: $colorBtn;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: none;
  width: 125px;
  height: 38px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: 0 0 15px 2px $colorNav;
    -moz-box-shadow: 0 0 15px 2px $colorNav;
    -webkit-box-shadow: 0 0 15px 2px $colorNav;
  }
}


.main-app-input {
  width: 285px;
  height: 30px;
  border: 1px solid $colorTablets;
  font-size: 16px;
  outline: none;

  &:focus {
    box-shadow: 0 0 15px 2px $colorNav;
    -moz-box-shadow: 0 0 15px 2px $colorNav;
    -webkit-box-shadow: 0 0 15px 2px $colorNav;
  }
}


::placeholder {
  font-size: 16px;
  padding-left: 10px;
  font-weight: 200;
}

.main-app-buttons {
  display: flex;
  justify-content: space-between;
}


.main-app-add-plan,
.main-app-add-recipe {
  background: $colorBackgroundDashboard;
  color: $colorSuccess;
  height: 190px;
  border: dashed 1px $colorSuccess;
  font-size: 24px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .fa-plus-square {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-size: 90px;
    padding-bottom: 20px;
  }
}

.main-app-notifications {
  display: flex;
  flex-direction: column;


  button {
    border: none;
    background: $colorBackgroundDashboard;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 5px;
  }
}



.main-app-notification-recipies,
.main-app-notification-plan,
.main-app-notification-welcome {
  background: $colorBackgroundDashboard;
  font-size: 20px;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;

  b {
    font-size: 1.7em;
    padding: 0 7px;
  }

  span {
    padding: 0 7px;
  }
}


.main-app-notification-recipies {
  border: 1px dashed $colorInfo;
  color: $colorInfo;

  button{
    color: $colorInfo;
  }
 }


.main-app-notification-plan {
  border: 1px dashed $colorWarning;
  color: $colorWarning;

  button{
    color: $colorWarning;
  }
}


.main-app-notification-welcome {
  border: 1px dashed $colorSuccess;
  color: $colorSuccess;

  button{
    color: $colorSuccess;
  }
}


div.main-app-table {
  margin: 30px 0;
  background: $colorBackgroundDashboard;
  border: 1px dashed $colorTablets;
  justify-content: space-between;
  padding: 0 30px;

}

table.main-app-table {
  height: 100%;
  margin-bottom: 10px;
  color: $colorHeader;
}

#table-header {
  color: $colorLogo2;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0;
  border-bottom: 1px solid $colorTablets;
}



.main-app-table-days {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid $colorTablets;
  line-height: 3em;
  text-align: left;
  th {
    padding-left: 30px;
  }

}

.main-app-table-plan {
  tr {
    border-bottom: 1px solid $colorTablets;
    line-height: 3em;
    td {
      padding-left: 30px;
    }
  }

  tr:last-child {
    border-bottom: none;
  }
}

.main-app-table-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  button {
    border: none;
    color: $colorLogo2;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
  }
}

